In [52]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

df_mes = pd.read_csv('./data/disaster_messages.csv')
df_mes.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [11]:
df_mes.count()

id          26248
message     26248
original    10184
genre       26248
dtype: int64

In [51]:
df_cat = pd.read_csv('./data/disaster_categories.csv')
df_cat.head(20)

    id                                         categories
0    2  related-1;request-0;offer-0;aid_related-0;medi...
1    7  related-1;request-0;offer-0;aid_related-1;medi...
2    8  related-1;request-0;offer-0;aid_related-0;medi...
3    9  related-1;request-1;offer-0;aid_related-1;medi...
4   12  related-1;request-0;offer-0;aid_related-0;medi...
5   14  related-0;request-0;offer-0;aid_related-0;medi...
6   15  related-1;request-0;offer-0;aid_related-0;medi...
7   16  related-1;request-1;offer-0;aid_related-1;medi...
8   17  related-0;request-0;offer-0;aid_related-0;medi...
9   18  related-1;request-1;offer-0;aid_related-1;medi...
10  20  related-1;request-1;offer-0;aid_related-1;medi...
11  21  related-0;request-0;offer-0;aid_related-0;medi...
12  22  related-1;request-1;offer-0;aid_related-1;medi...
13  24  related-1;request-1;offer-0;aid_related-1;medi...
14  25  related-1;request-0;offer-0;aid_related-0;medi...
15  26  related-1;request-1;offer-0;aid_related-1;medi...
16  27  related-1;request-1;offer-0;aid_related-1;medi...
17  28  related-0;request-0;offer-0;aid_related-0;medi...
18  30  related-0;request-0;offer-0;aid_related-0;medi...
19  31  related-1;request-0;offer-0;aid_related-0;medi...

In [13]:
df_cat.count()

id            26248
categories    26248
dtype: int64

In [87]:
#merge messages and categories
df = pd.concat([df_mes, df_cat], axis=1, join="inner")
df.head()

,id,message,original,genre,id,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,2,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,7,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,8,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,9,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,12,related-1;request-0;offer-0;aid_related-0;medi...

In [14]:
df.count()

id            26248
message       26248
original      10184
genre         26248
id            26248
categories    26248
dtype: int64

In [18]:
df['id'].max()

id    30265
id    30265
dtype: int64

In [22]:
df['id'].isnull().sum()

id    0
id    0
dtype: int64

In [27]:
df = pd.concat([df_mes, df_cat], axis=1, join="inner", verify_integrity=True)
df.head(100)

ValueError: Indexes have overlapping values: Index(['id'], dtype='object')

In [42]:
df = pd.concat([df_mes, df_cat], axis=0, keys=['id'])
df.head()

      id                                            message  \
id 0   2  Weather update - a cold front from Cuba that c...
   1   7            Is the Hurricane over or is it not over
   2   8                    Looking for someone but no name
   3   9  UN reports Leogane 80-90 destroyed. Only Hospi...
   4  12  says: west side of Haiti, rest of the country ...

                                               original   genre
id 0  Un front froid se retrouve sur Cuba ce matin. ...  direct
   1                 Cyclone nan fini osinon li pa fini  direct
   2  Patnm, di Maryani relem pou li banm nouvel li ...  direct
   3  UN reports Leogane 80-90 destroyed. Only Hospi...  direct
   4  facade ouest d Haiti et le reste du pays aujou...  direct

In [39]:
df.count()

id  id          26248
    message     26248
    original    10184
    genre       26248
dtype: int64

In [48]:
df2=df_mes.merge(df_cat, on='id', how='inner')
df2.head(20)

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...
5,14,Information about the National Palace-,Informtion au nivaux palais nationl,direct,related-0;request-0;offer-0;aid_related-0;medi...
6,15,Storm at sacred heart of jesus,Cyclone Coeur sacr de jesus,direct,related-1;request-0;offer-0;aid_related-0;medi...
7,16,"Please, we need tents and water. We are in Sil...",Tanpri nou bezwen tant avek dlo nou zon silo m...,direct,related-1;request-1;offer-0;aid_related-1;medi...
8,17,"I would like to receive the messages, thank you",Mwen ta renmen jouin messag yo. Merci,direct,related-0;request-0;offer-0;aid_related-0;medi...
9,18,I am in Croix-des-Bouquets. We have health iss...,"Nou kwadebouke, nou gen pwoblem sant m yo nan ...",direct,related-1;request-1;offer-0;aid_related-1;medi...
10,20,"There's nothing to eat and water, we starving ...",Bon repo pa gen anyen menm grangou swaf,direct,related-1;request-1;offer-0;aid_related-1;medi...
11,21,I am in Petionville. I need more information r...,M nan pv mvle plis enfomasyon sou 4636,direct,related-0;request-0;offer-0;aid_related-0;medi...
12,22,"I am in Thomassin number 32, in the area named...",Mwen thomassin 32 nan pyron mwen ta renmen jwe...,direct,related-1;request-1;offer-0;aid_related-1;medi...
13,24,"Let's do it together, need food in Delma 75, i...",Ann fel ansanm bezwen manje nan delma 75 nan r...,direct,related-1;request-1;offer-0;aid_related-1;medi...
14,25,More information on the 4636 number in order f...,gen plis enfomasyon sou 4636 la pom w sim ap k...,direct,related-1;request-0;offer-0;aid_related-0;medi...
15,26,"A Comitee in Delmas 19, Rue ( street ) Janvier...",Komite katye delma 19 rue janvier imp charite ...,direct,related-1;request-1;offer-0;aid_related-1;medi...
16,27,We need food and water in Klecin 12. We are dy...,Nou bezwen mange avek dlo nan klcin 12 LA LAFI...,direct,related-1;request-1;offer-0;aid_related-1;medi...
17,28,are you going to call me or do you want me to ...,Eske se rele nap relem oubyen se mwen kap rele...,direct,related-0;request-0;offer-0;aid_related-0;medi...
18,30,I don't understand how to use this thing 4636.,Mwen pa konprann koman pou m itilize bagay 463...,direct,related-0;request-0;offer-0;aid_related-0;medi...
19,31,I would like to know if the earthquake is over...,Mwen ta remen connin si trenblem de terre afin...,direct,related-1;request-0;offer-0;aid_related-0;medi...

In [49]:
df2.count()

id            26386
message       26386
original      10246
genre         26386
categories    26386
dtype: int64

In [58]:
df_cat.count()

id            26248
categories    26248
dtype: int64

In [57]:
df2.count()

id            26386
message       26386
original      10246
genre         26386
categories    26386
dtype: int64

In [66]:
df2['id'].duplicated().sum()

206

In [65]:
df_cat[df_cat['id'].duplicated()]

          id                                         categories
163      202  related-1;request-1;offer-0;aid_related-1;medi...
656      804  related-2;request-0;offer-0;aid_related-0;medi...
710      862  related-1;request-0;offer-0;aid_related-0;medi...
1408    1652  related-1;request-1;offer-0;aid_related-1;medi...
2131    2446  related-1;request-0;offer-0;aid_related-0;medi...
...      ...                                                ...
24040  27768  related-1;request-0;offer-0;aid_related-0;medi...
24648  28462  related-1;request-0;offer-0;aid_related-1;medi...
24856  28687  related-1;request-0;offer-0;aid_related-1;medi...
25156  29022  related-1;request-0;offer-0;aid_related-1;medi...
25242  29119  related-1;request-0;offer-0;aid_related-1;medi...

[68 rows x 2 columns]

In [88]:
df_cat.loc[df_cat['id'] == 202]

      id                                         categories
162  202  related-1;request-1;offer-0;aid_related-1;medi...
163  202  related-1;request-1;offer-0;aid_related-1;medi...

In [75]:
df_cat.shape[0] - df_cat['id'].duplicated().sum()

26180

In [76]:
df_mes.shape[0] - df_mes['id'].duplicated().sum()

26180

In [89]:
df_mes[df_mes['id'].duplicated()]

,id,message,original,genre
163,202,?? port au prince ?? and food. they need gover...,p bay pap la syen ak manje. Yo bezwen ed gouve...,direct
656,804,elle est vraiment malade et a besoin d'aide. u...,she is really sick she need your help. please ...,direct
710,862,What is the address of the radio station? I as...,Ki adres radyo a? Paske m bezwen al depoze dos...,direct
1408,1652,"please we need water, food and tents, we have ...","p jwen dlo, manje, tant pou nou demi nou gen 1...",direct
2131,2446,How much money did TV Latino American collect ...,Konbyen kob tv latino america ranmase miami,direct
...,...,...,...,...
24040,27768,An EU-backed French offensive against rebels r...,NaN,news
24648,28462,"To date, a total of 39 people suffering from E...",NaN,news
24856,28687,"At present, UNHCR has 2,500 additional tents a...",NaN,news
25156,29022,"In a field in Jallouzai, just inside Pakistan,...",NaN,news
25242,29119,Most victims (90 per cent) show little or no s...,NaN,news

In [91]:
df_mes[df_mes['id'] == 202]

,id,message,original,genre
162,202,?? port au prince ?? and food. they need gover...,p bay pap la syen ak manje. Yo bezwen ed gouve...,direct
163,202,?? port au prince ?? and food. they need gover...,p bay pap la syen ak manje. Yo bezwen ed gouve...,direct

In [68]:
df_cat_drop=df_cat.drop_duplicates(subset=['id'])
df_cat_drop.count()

id            26180
categories    26180
dtype: int64

In [72]:
df_mes_drop=df_mes.drop_duplicates(subset=['id'])
df_mes_drop.count()

id          26180
message     26180
original    10153
genre       26180
dtype: int64

In [77]:
df3=df_mes_drop.merge(df_cat_drop, on='id', how='inner')
df3.head()

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

In [74]:
df3.count()

id            26180
message       26180
original      10153
genre         26180
categories    26180
dtype: int64

In [81]:
import sqlite3

conn = sqlite3.connect('./data/mes_cat_data.db')

In [2]:
df3.to_sql('message', con=conn)

NameError: name 'df3' is not defined

In [1]:
import sqlite3

conn = sqlite3.connect('./data/DisasterResponse.db')

In [5]:
import pandas as pd
pd.read_sql('SELECT * FROM message', conn)

,index,id,message,original,genre,categories
0,0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...
...,...,...,...,...,...,...
26175,26381,30261,The training demonstrated how to enhance micro...,None,news,related-0;request-0;offer-0;aid_related-0;medi...
26176,26382,30262,A suitable candidate has been selected and OCH...,None,news,related-0;request-0;offer-0;aid_related-0;medi...
26177,26383,30263,"Proshika, operating in Cox's Bazar municipalit...",None,news,related-1;request-0;offer-0;aid_related-0;medi...
26178,26384,30264,"Some 2,000 women protesting against the conduc...",None,news,related-1;request-0;offer-0;aid_related-1;medi...
26179,26385,30265,A radical shift in thinking came about as a re...,None,news,related-1;request-0;offer-0;aid_related-0;medi...

In [84]:
pd.read_sql('SELECT * FROM message where id = 2', conn)

,index,id,message,original,genre,categories
0,0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...

In [94]:
df_cat_split = pd.concat([df_cat['id'], df_cat['categories'].str.split(';',expand=True)], axis=1)
df_cat_split

,id,0,1,2,3,4,5,6,7,8,...,26,27,28,29,30,31,32,33,34,35
0,2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,7,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,8,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,9,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,12,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26243,30261,related-0,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
26244,30262,related-0,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
26245,30263,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
26246,30264,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-1,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
26247,30265,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [97]:
df_cat_drop=df_cat_split.drop_duplicates(subset=['id'])
df_cat_drop.head()

,id,0,1,2,3,4,5,6,7,8,...,26,27,28,29,30,31,32,33,34,35
0,2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,7,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,8,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,9,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,12,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [98]:
df_cat_drop.count()

id    26180
0     26180
1     26180
2     26180
3     26180
4     26180
5     26180
6     26180
7     26180
8     26180
9     26180
10    26180
11    26180
12    26180
13    26180
14    26180
15    26180
16    26180
17    26180
18    26180
19    26180
20    26180
21    26180
22    26180
23    26180
24    26180
25    26180
26    26180
27    26180
28    26180
29    26180
30    26180
31    26180
32    26180
33    26180
34    26180
35    26180
dtype: int64

In [1]:
df_cat_drop.head()

NameError: name 'df_cat_drop' is not defined